<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Offer letter</h1>
    <div>
      <p>
        Hello {{recepient.recipient_firstname}} We are delighted to present you
        with an offer of employment from [company_name]. Please review the
        information below for more details about our company culture, benefits,
        and your compensation package.
      </p>
    </div>
  </body>
</html>
